@model IEnumerable<HelpAnimals.Models.Dogs>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Dog List</h2>
        </div>
        <div class="col-3">
            <a asp-controller="Dogs" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp;Create New Dogs
            </a>
        </div>
    </div>

    <br /><br />
    @if (Model.Count() > 0)
    {
        <table class="table" style="width:100%">

            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td rowspan="2" width="20%"><img src="@("/image/" + obj.ImageName)" asp-append-version="true" width="230px" height="200px"></td>
                        <td width="20%" colspan="4" class="primary"><h4>@obj.Name</h4></td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Dogs" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                                    <i class="fas fa-edit"></i> &nbsp;
                                </a>
                                <a asp-controllerz="Dogs" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    <i class="fas fa-trash"></i> &nbsp;
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">@obj.Breed</td>
                        <td width="10%">@obj.Age months</td>
                        <td width="10%">@obj.Gender</td>
                        <td width="10%">@obj.Size</td>
                        <td width="15%">@obj.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Dog exist</p>
    }
</div>

